In [5]:
pip install tabula-py

Requirement already satisfied: tabula-py in c:\users\mkfal\appdata\roaming\python\python313\site-packages (2.10.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from tabula-py) (2.3.2)
Requirement already satisfied: numpy>1.24.4 in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from tabula-py) (2.2.6)
Requirement already satisfied: distro in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from pandas>=0.25.3->tabula-py) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from pandas>=0.25.3->tabula-py) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mkfal\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
from tabula import read_pdf

file = r"C:\Users\mkfal\Documents\GitHub\BI\MP1\dat4bi-mp1\data\usage-history.pdf"

df_temp = read_pdf(file, stream=True)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [22]:
print(df_temp)

[        Opkald Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         Dato  Tidspunkt   Varighed    Modtager       Pris
1   22/07/2025      15:56   00:00:16  4526485573          0
2   15/07/2025      16:53   00:00:23  4526485573          0
3   15/07/2025      11:07   00:01:08  4526485573          0
4   11/07/2025      12:55   00:02:56  4550293470          0
5   11/07/2025      12:54   00:00:04  4526485573          0
6   11/07/2025      12:53   00:00:04  4526485573          0
7   09/07/2025      10:24   00:02:33  4591889449          0
8   09/06/2025      11:14   00:00:27  4526485573          0
9   09/06/2025      10:47   00:02:28  4531165156          0
10  05/06/2025      16:20   00:00:53  4526485573          0
11  03/06/2025      13:51   00:00:21  4531165156          0
12  02/06/2025      16:58   00:00:52  4526485573          0
13  02/06/2025      16:24   00:00:22  4591841048          0
14  02/06/2025      15:54   00:00:04  4591841048          0
15  02/06/2025      15:18   00:00:13  4591841048          0
16  02/06/2025      15:01   00:00:28  4591841048          0
17  02/06/2025      13:32   00:00:23  4591841048          0
18  02/06/2025      13:31   00:00:08  4591841048          0
19  02/06/2025      13:16   00:00:16  4591889449          0
20  02/06/2025      13:02   00:03:13  4591889449          0
21  02/06/2025      08:58   00:02:27  4591889449          0
22  02/06/2025      08:47   00:00:03  4531644550          0
23  01/06/2025      17:59   00:00:32  4526485573          0
24  28/05/2025      11:58   00:01:43  4550293470          0
25  27/05/2025      20:54   00:01:19  4531165156          0
26  27/05/2025      17:09   00:00:41  4591846664          0
27  27/05/2025      11:56   00:00:41  4526485573          0
28  26/05/2025      15:37   00:00:21  4591841048          0
29  26/05/2025      15:00   00:00:35  4531644550          0
30  26/05/2025      15:00   00:00:03  4531644550          0
31  26/05/2025      14:59   00:00:02  4531644550          0
32  26/05/2025      14:58   00:00:03  4531644550          0
33  24/05/2025      12:26   00:00:28  4526485573          0
34  24/05/2025      12:25   00:00:23  4531165156          0
35  23/05/2025      13:43   00:00:24  4591841048          0]